 body {
    background-color: rgba(223, 219, 219, 0.822);
 }
  input {
    width: 85px;
    height: 35px;
    border: 1px solid rgba(180, 180, 180, 0.625);
    border-radius: 4px;
    box-shadow: none;
  }
  ::placeholder {

  }

  .app-container {
    width: 400px;
    height: 150px;
    background-color: white;
  }